.chat-input {
    width: 70%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    .input-area {
        width: 90%;
        .input-element{
            width: 100%;
            padding: 10px 20px;
            background-color: #F2F3F5;
            border: none;
            outline: none;
            font-size: 1.5rem;
            border-radius: 30px;
        }
    }
    .send-button {
        .send{
            margin: 0 20px;
            width: 50px;
            height: 50px;
            // border-radius: 50%;
            color: blue;
            border: none;
            outline: none;
            background-color: #fff;
            cursor: pointer;
            .icon{
                font-size: 3rem;
            }
        }
    }
}
