.chat-review {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    .content {
        width: 70%;
        .title {
            font-size: 1.4rem;
            width: 70%;
            white-space: pre-wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        .message {
            font-size: 1.1rem;
            width: 90%;
            white-space: pre-wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
    }
    .seen {
        width: 25px;
        height: 25px;
        overflow: hidden;
        border-radius: 50%;
        .seen-avatar {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .turn-off-notification,
    .sent{
        font-size: 1.5rem;
    }
}

.chat-review.active {
    background-color: #ecf3ff;
}
