* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.loading{
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000000;
	opacity: .7;
}

.d-none{
	display: none;
}

.loader, .text{
	color: #ffffff;
}

.text{
	margin-top: 20px;
	font-size: 1.5rem;
}

.loading .span{
	margin-top: 20px;
	font-size: 1.5rem;
}
